@import '../../sass/mixins.scss';
@import '../../sass/globalColors.scss';

.card {
  .form {
    display: flex;
    flex-direction: column;

    form {
      margin: 0 auto;
      max-width: 400px;
      display: grid;
      grid-template-columns: 1fr;

      .star-rating {
        margin: 20px 0;

        span {
          @include subheading;
        }
      }

      .form-group {
        width: 100%;

        label {
          @include body-m;
          width: 100%;
          display: block;
        }

        input {
          width: 400px;
          height: 35px;
          border-radius: 5px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }

        textarea {
          width: 400px;
          height: 100px;
          border-radius: 5px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
          resize: none;
        }
      }
      .btn {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}