@import '../../sass/mixins.scss';
@import '../../sass/globalColors.scss';

section:nth-child(2) {
  padding: 15px;
  background-color: $magenta;

  .top-section {
    display: flex;
    align-items: center;
  }
}

section:nth-child(3) {
  .bottom-section {
    p {
      @include body-m;
    }
  }
}